{% extends "master.html"  %}

{% block title %}

   Doctors List

{% endblock %}

{% block content %}
<h1>Doctors List</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Speciality</th>
        <th>No of Appointments</th>
    </tr>
    {% for doctor in doctors_list %}
    <tr>
        
         <td><a href="details/{{ doctor.id }}">{{doctor.name}}</a></td>
        <td>{{doctor.specialty}}</td>
        <td>{{doctor.max_patients}}</td>
    </tr>
    {% endfor %}
</table>
<a href="/"><button>Home</button></a>
{% endblock %}
