
 body{
    background-color: lightblue;
    font-size: 30px;

} 
th, td {
    padding: 10px; /* Adjust the padding value as needed */
    border: 1px solid #ccc; /* Optional border for cells */
}

table {
    border-collapse: separate;
    border-spacing: 10px; /* Adjust the spacing value as needed */
}
img {
    align-content: center;
    padding-left: 20%;
    width: 50%;
    height: 50vh; /* 100% of the viewport height */
    object-fit: cover; /* Maintains aspect ratio and covers entire viewport */
}
button{
   color: blue;
   border-radius: 5%;
    background-color: chartreuse;
    margin-left: 30%;
    width: 100px;
    height:50px;
}

